.container {
    border: 3px solid #ffcc5c;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.container > .title {
    display: flex;
    justify-content: center;
    flex: 1;
    order: -1;
}

.container > .content {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
}

.container > .column{
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
}
