.Main_title {
    text-align: center;
    font-size: 25px;

}

ul {
    font-size: 20px;
}

ol {
    font-size: 20px;
}

h4 {
    font-size: 25px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

img {
    display: block;
    margin: auto;
}